html {
    margin:0;
    padding:0;
    border:0;
    background-color: #966FD6;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    width: 100%;
    text-align: center;
}

#intro {
    margin: auto;
    width: 80%;
    padding-bottom: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    text-align: center;
}

#intro img {
    width: 100%;
}

.photoinfo {
    float:left;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

.photoinfo img {
    height: 250px
}

#hyungwrapper {
    width:100%;
    overflow: hidden;
}

#hyung {
    margin-left: 12%;
    width: 80%;
    padding: 0px;
}

#member-info {
    text-align: left;
    font-size: small;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: lightskyblue;
    text-align: center;
}

.photoinfo2 {
    float: left;
    width: 30%;
    padding: 30px;
    box-sizing: border-box;
}

.photoinfo2 img {
    height: 250px;
}

#maknaewrapper {
    width:100%;
    overflow: hidden;
}

#maknae {
    margin-left: 14%;
    width: 70%;
    position: relative;
    left: 80px;
   
}

#songs {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    column-count: 5;
    column-gap: 2%;
    margin-left: 9%;
    width: 80%;
    padding: 20px;
}

#quotes {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    width: 60%;
    text-align: left;
    padding: 20px;
    margin-left: 30%;
}

