h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    width: 100%;
    text-align: center;
}

.intro {
    margin: auto;
    width: 80%;
    padding-bottom: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    text-align: center;
}

.intro img {
    width: 100%;
}
.photoinfo {
    float:left;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

.photoinfo img {
    height: 250px
}

.hyung {
    margin-left: 14%;
    width: 80%;
    padding-bottom: 40px;
}

#member-info {
    text-align: left;
    font-size: small;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #9F33FF;
    text-align: center;
}

.photoinfo2 {
    float: left;
    width: 30%;
    padding: 30px;
    box-sizing: border-box;
}

.photoinfo2 img {
    height: 250px;
}

.maknae {
    margin-left: 15%;
    width: 70%;
    position: relative;
    left: 100px;
    padding-bottom: 40px
}

html {
    background-color: #FFC7FF;
}

